Firstt_Project/Resources/Schemas/Models/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:Product="http://www.tibco.com/schemas/Firstt_Project/Resources/Schemas/Models/Product"
	 targetNamespace="http://www.tibco.com/schemas/Firstt_Project/Resources/Schemas/Models/Product"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Product">
		<xs:complexType>
			<xs:sequence>
					<xs:element name="ProductId" type="xs:string"/>
					<xs:element name="Description" type="xs:string"/>
					<xs:element name="DisplayName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>